<div class="col-md-3 my-3 city-weather-container">
  <ul class="list-group">
    <li class="list-group-item list-group-item-primary">
      City:
      <span class="city"></span>
    </li>
    <li class="list-group-item">
      Description:
      <span class="description"></span>
    </li>
    <li class="list-group-item">
      Temperature:
      <span class="min-temperature"></span>
      -
      <span class="max-temperature"></span>
    </li>
    <li class="list-group-item">
       Wind speed: <span class="wind-speed"></span>
    </li>
    <li class="list-group-item">
       Wind deg: <span class="wind-deg"></span>
    </li>
    <li class="list-group-item">
      Humidity:
      <span class="humidity"></span>
    </li>
    <li class="list-group-item">
      Pressure:
      <span class="pressure"></span>
    </li>
  </ul>
</div>